$color-primary: #79B4B7; //Navbar
$color-second: #9D9D9D; //Button
$color-light: #FEFBF3;
$color-extra: #F8F0DF;
$color-text: #000; //text

.label {
    font-weight: bold; 
}

.value {
   margin: 0px 25px 10px 25px;
}

.genre-button-div .back-to-movies-button {
    margin-top: 10px;
    color: $color-text;
    background-color: $color-second;
    border: $color-second;
    font-weight: bold;
}

.genre-button-div .back-to-movies-button:hover {
    background-color: $color-light;
    color: $color-text;
    border: $color-second;
}

.genre-button-div .back-to-movies-button:active {
    background-color: $color-light;
    color: $color-text;
    border: $color-second;
}