$color-primary: #79B4B7; //Navbar
$color-second: #9D9D9D; //Button
$color-light: #FEFBF3;
$color-extra: #F8F0DF;
$color-text: #000; //text

div .register-navbar {
    background-color: $color-primary;
}

div .navbar-link-active {
    font-weight: bold;
}

.register-card {
    margin-top: 60px;
}

.register-label {
    margin-top: 15px;
}

.register-form .register-button {
    margin-top: 20px;
    color: $color-text;
    background-color: $color-second;
    border: $color-second;
    font-weight: bold;
}

.register-form .register-button:hover {
    background-color: $color-light;
    color: $color-text;
    border: $color-second;
}

.register-form .register-button:active {
    background-color: $color-light;
    color: $color-text;
    border: $color-second;
}