$color-primary: #79B4B7; //Navbar
$color-second: #9D9D9D; //Button
$color-light: #FEFBF3;
$color-extra: #F8F0DF;
$color-text: #000; //text

.profile-container {
    margin-top: 0;
}

.profile-card {
    margin-bottom: 5px;
}

.user-info .deregister-button {
    margin-top: 15px;
    color: $color-text;
    background-color: #d68b8b;
    border: #d68b8b;
    font-weight: bold;
}

.user-info .deregister-button:hover {
    background-color: #e9c1c1;
    border: #e9c1c1;
    color: $color-text;  
}

.user-info .deregister-button:active {
    background-color: #e9c1c1;
    border: #e9c1c1;
    color: $color-text;
}

//Update user
.user-info-div {
    margin-top: 25px;
}

.update-user-info .button {
    margin-top: 15px;
    color: $color-text;
    background-color: $color-second;
    border: $color-second;
    font-weight: bold;
}

.update-user-info .button:hover {
    background-color: $color-light;
    color: $color-text;
    border: $color-second;
}

.update-user-info .button:active {
    background-color: $color-light;
    color: $color-text;
    border: $color-second;
}

//FavMovies
.movie-card {
    margin: 10px;
}

.movie-card-body .button {
    margin-top: 15px;
    color: $color-text;
    background-color: $color-second;
    border: $color-second;
    font-weight: bold;
}

.movie-card-body .button:hover {
    background-color: $color-light;
    color: $color-text;
    border: $color-second;
}

.movie-card-body .button:active {
    background-color: $color-light;
    color: $color-text;
    border: $color-second;
}

.link-to-movie {
    text-decoration: none;
    color: $color-text;
}

.link-to-movie:hover {
    text-decoration: underline;
    color: $color-text;
}