$color-primary: #79B4B7; //Navbar
$color-second: #9D9D9D; //Button
$color-light: #FEFBF3;
$color-extra: #F8F0DF;
$color-text: #000; //text

.movie-poster-img {
    position: relative;
    max-width: 100%;
}

.label {
    font-weight: bold; 
}

.value {
   margin: 0px 25px 10px 25px;
}

.link {
    color: black;
}
.link:hover {
    color: $color-second;
}

.movie-button-div {
    align-items: center;
}

.movie-button-div .movie-button {
    margin-top: 10px;
    margin-right: 10px;
    color: $color-text;
    background-color: $color-second;
    border: $color-second;
    font-weight: bold;
}

.movie-button-div .movie-button:hover {
    background-color: $color-light;
    color: $color-text;
    border: $color-second;
}

.movie-button-div .movie-button:after {
    background-color: $color-light;
    color: $color-text;
    border: $color-second;
}